<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import type Product from "@/type/product";

const Store = useProductStore();
function myProducts(order: Product) {
  Store.addProduct(order);
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="5">
        <v-container style="height: 80vh; overflow: auto">
          <v-row>
            <v-col cols="4" v-for="item of Store.products" :key="item.id">
              <v-card>
                <v-card-title class="text-center">{{ item.name }}</v-card-title>
                <h3 class="text-center">{{ item.price }}</h3>
                <v-card-actions class="justify-center">
                  <v-btn @click="myProducts(item)" elevation="2"> Add </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col cols="6">
        <v-container style="height: 70vh; overflow: auto">
          <v-table>
            <thead>
              <tr>
                <th class="text-h6" style="color: grey">id</th>
                <th class="text-h6" style="color: grey">name</th>
                <th class="text-h6" style="color: grey">price</th>
              </tr>
            </thead>
            <tbody v-if="Store.pdProducts.length != 0">
              <tr v-for="item of Store.pdProducts" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
          <p
            v-if="Store.pdProducts.length == 0"
            style="width: 100%"
            class="text-center"
          >
            No data
          </p>
        </v-container>
        <td class="ma-7" style="font-size: 40pt">Sum:{{ Store.total }}</td>
      </v-col>
    </v-row>
  </v-container>
</template>
