<script lang="ts" setup>
import { ref } from "vue";
const feel = ref("Smile");
const face = ref("feeling_imgs/smile.png");

const clickColor = ref(6);
function clickChang(color: number) {
  clickColor.value = color;
}
function clickAng() {
  face.value = "feeling_imgs/angry.png";
  feel.value = "Angry";
}

function clickCute() {
  face.value = "feeling_imgs/cute.png";
  feel.value = "Cute";
}
function clickExcited() {
  face.value = "feeling_imgs/excited.png";
  feel.value = "Excited";
}
function clickPain() {
  face.value = "feeling_imgs/pain.png";
  feel.value = "Pain";
}
function clickShock() {
  face.value = "feeling_imgs/shocked.png";
  feel.value = "Shock";
}
function clickSmile() {
  face.value = "feeling_imgs/smile.png";
  feel.value = "Smile";
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="5">
        <br />
        <v-img width="100%" :src="face"></v-img>
      </v-col>
      <v-col>
        <v-container>
          <v-row class="justify-center">
            <v-col>
              <h1 style="text-align: center; font-size: 30pt">
                {{ feel }}
              </h1>
              <v-btn
                :color="clickColor === 1 ? 'yellow' : 'none'"
                width="100%"
                height="45px"
                @click="clickChang(1), clickAng()"
                block
                >ANGRY</v-btn
              ><br />
              <v-btn
                width="100%"
                height="45px"
                :color="clickColor === 2 ? 'yellow' : 'none'"
                @click="clickChang(2), clickCute()"
                block
              >
                CUTE </v-btn
              ><br />
              <v-btn
                width="100%"
                height="45px"
                :color="clickColor === 3 ? 'yellow' : 'none'"
                @click="clickChang(3), clickExcited()"
                block
              >
                EXCITED </v-btn
              ><br />
              <v-btn
                width="100%"
                height="45px"
                :color="clickColor === 4 ? 'yellow' : 'none'"
                @click="clickChang(4), clickPain()"
                block
              >
                PAIN </v-btn
              ><br />
              <v-btn
                width="100%"
                height="45px"
                :color="clickColor === 5 ? 'yellow' : 'none'"
                @click="clickChang(5), clickShock()"
                block
              >
                SHOCKED </v-btn
              ><br />
              <v-btn
                width="100%"
                height="45px"
                :color="clickColor === 6 ? 'yellow' : 'none'"
                @click="clickChang(6), clickSmile()"
                block
              >
                SMILE </v-btn
              ><br />
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
