<script lang="ts" setup>
import { ref } from "vue";
const num = ref(0);
</script>

<template>
  <v-container>
    <v-row
      ><v-col>
        <v-text-field
          v-model="num"
          label="Please input Number"
          :rules="[(v) => !!v || 'Number is not empty!!']"
          required
        ></v-text-field>
      </v-col>
    </v-row> </v-container
  ><v-row v-if="parseInt(num.toString())">
    <v-col cols="1" v-for="item in parseInt(num.toString())" :key="item">{{
      item
    }}</v-col>
  </v-row>
</template>
