<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <div>First Component</div>
  <p>{{ counterStore.count }}</p>
</template>
